body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { 
     margin: 0; 
     padding: 0; 
 } 
  
 body { 
     font-weight: normal; 
     font-style: normal; 
     font-size: 14px; 
     line-height: 1.5; 
     font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif; 
     color: #333; 
     background-color: #fff; 
     min-width: 1226px; 
 } 
  
 a { 
     text-decoration: none; 
 } 
  
 ul, ol { 
     list-style: none; 
 } 
  
 i { 
     font-family: "iconfont" !important; 
     font-style: normal; 
 } 
  
 /***************************header start********************************/ 
 header { 
     width: 100%; 
     height: 160px; 
     overflow: hidden; 
 } 
  
 .topBanner { 
     width: 100%; 
     height: 120px; 
     background: url("../images/1-top/topBanner.jpg") no-repeat center center; 
     cursor: pointer; 
 } 
  
 .nav { 
     width: 100%; 
     height: 40px; 
     background-color: #333; 
 } 
  
 .navCenter { 
     width: 1226px; 
     height: 40px; 
     line-height: 40px; 
     margin: 0 auto; 
 } 
  
 .navCenter ul span { 
     color: #424242; 
     margin: 0 0.5em; 
 } 
  
 .navCenter ul { 
     float: left; 
 } 
  
 .navCenter ul li { 
     display: inline-block; 
 } 
  
 .navCenter ul li a { 
     color: #b0b0b0; 
     transition: all .5s; 
 } 
  
 .navCenter ul li a:hover, .navCenter .login .shoppingCart:hover { 
     color: #fff; 
 } 
  
 .navCenter .login { 
     float: right; 
 } 
  
 .navCenter .login .shoppingCart { 
     width: 120px; 
     height: 40px; 
     margin-left: 27px; 
     display: inline-block; 
     background-color: #424242; 
     text-align: center; 
     color: #b0b0b0; 
     transition: all .5s; 
     cursor: pointer; 
 } 
  
 .navCenter .login .shoppingCart i { 
     font-size: 20px; 
     line-height: 20px; 
     vertical-align: -2px; 
     margin-right: 4px; 
 } 
  
 /***************************header end********************************/ 
 /***************************logoNav start********************************/ 
 .logoNav { 
     width: 1226px; 
     height: 100px; 
     margin: 0 auto; 
 } 
  
 .logo { 
     margin-top: 22px; 
     float: left; 
     cursor: pointer; 
 } 
  
 .logoNav ul { 
     width: 820px; 
     margin-left: 230px; 
     line-height: 100px; 
 } 
  
 .logoNav ul li { 
     float: left; 
     height: 80px; 
     padding: 0 10px; 
     line-height: 100px; 
     cursor: pointer; 
 } 
  
 .logoNav ul li:hover { 
     border-bottom: 2px solid #ff6702; 
 } 
  
 .logoNav ul li a { 
     font-size: 16px; 
     color: #333; 
 } 
  
 .logoNav .search { 
     float: right; 
     line-height: 100px; 
     font-size: 0; 
     position: relative; 
     margin-top: 25px; 
 } 
  
 /*搜索栏热词*/ 
 .logoNav .search .hotwords { 
     width: 177px; 
     height: 0; 
     position: absolute; 
     background-color: red; 
     top: -25px; 
     right: 60px; 
     display: inline-block; 
     text-align: right; 
     z-index: 2; 
 } 
  
 .logoNav .search .hotwords a { 
     margin-left: 5px; 
     padding: 0 5px; 
     font-size: 12px; 
     background-color: #eeeeee; 
     color: #757575; 
     transition: all .2s; 
 } 
  
 .logoNav .search .hotwords a:hover { 
     background-color: #ff6700; 
     color: #fff; 
 } 
  
 .logoNav .search input[type="search"] { 
     width: 240px; 
     height: 50px; 
     border: 1px solid #e0e0e0; 
     line-height: 50px; 
     outline: 0; 
     padding: 0 10px; 
     position: absolute; 
     box-sizing: border-box; 
     top: 0; 
     right: 49px; 
     transition: all .2s; 
 } 
  
 .logoNav .search input[type="search"]:hover { 
     border-color: #b0b0b0; 
 } 
  
 .logoNav .search input[type="submit"] { 
     width: 50px; 
     height: 50px; 
     position: absolute; 
     top: 0; 
     right: 0; 
     border: 1px solid #e0e0e0; 
     font-family: "iconfont" !important; 
     font-size: 24px; 
     color: #616161; 
     background-color: #fff; 
     line-height: 24px; 
     outline: 0; 
     cursor: pointer; 
     transition: all .2s; 
 } 
  
 .logoNav .search input[type="submit"]:hover { 
     background-color: #ff6700; 
     border-color: #ff6700; 
     color: #fff; 
 } 
  
 /***************************logoNav end********************************/ 
 /***************************banner start********************************/ 
 .banner { 
     width: 1226px; 
     height: 460px; 
     margin: 0 auto; 
     background-size: cover; 
     position: relative; 
     overflow: hidden; 
 } 
  
 /*轮播图无限滚动*/ 
 .bannerPic { 
     width: 7400px; 
     height: 460px; 
     animation: move 30s linear infinite 0s normal; 
 } 
  
 .bannerPic:hover { 
     animation-play-state: paused; 
 } 
  
 .bannerPic li { 
     width: 1226px; 
     height: 460px; 
     float: left; 
 } 
  
 .bannerDot { 
     position: absolute; 
     bottom: 15px; 
     right: 30px; 
 } 
  
 .bannerDot span { 
     width: 6px; 
     height: 6px; 
     border: 2px solid rgba(255, 255, 255, 0.3); 
     display: inline-block; 
     border-radius: 10px; 
     background-color: rgba(0, 0, 0, 0.4); 
     margin: 0 5px; 
     cursor: pointer; 
     transition: all .5s; 
 } 
  
 .bannerDot span:first-child, .bannerDot span:hover { 
     background-color: rgba(255, 255, 255, 0.4); 
     border-color: rgba(0, 0, 0, 0.4); 
 } 
  
 /*轮播图每张图停留时间为5.4s, 转换时间为0.6s*/ 
 @keyframes move { 
     0% { 
         margin-left: 0; 
     } 
     18% { 
         margin-left: 0; 
     } 
     20% { 
         margin-left: -1226px; 
     } 
     38% { 
         margin-left: -1226px; 
     } 
     40% { 
         margin-left: -2452px; 
     } 
     58% { 
         margin-left: -2452px; 
     } 
     60% { 
         margin-left: -3678px; 
     } 
     78% { 
         margin-left: -3678px; 
     } 
     80% { 
         margin-left: -4904px; 
     } 
     98% { 
         margin-left: -4904px; 
     } 
     100% { 
         margin-left: -6130px; 
     } 
 } 
  
 .menu { 
     width: 234px; 
     height: 460px; 
     float: left; 
     background-color: rgba(0, 0, 0, 0.6); 
     padding: 20px 0; 
     box-sizing: border-box; 
     position: absolute; 
     top: 0; 
     left: 0; 
 } 
  
 .menu ul li { 
     position: relative; 
     cursor: pointer; 
 } 
  
 .menu ul li:hover { 
     background-color: #ff6700; 
 } 
  
 .menu ul li a { 
     color: #fff; 
     padding-left: 30px; 
     height: 42px; 
     line-height: 42px; 
 } 
  
 .menu ul li span { 
     text-align: right; 
     color: rgba(255, 255, 255, 0.5); 
     position: absolute; 
     top: 10px; 
     right: 20px; 
 } 
  
 .banner .arrow { 
     width: 40px; 
     height: 70px; 
     margin-top: -35px; 
     font-size: 50px; 
     color: #757575; 
     position: absolute; 
     top: 50%; 
     transition: all .3s; 
     font-family: "iconfont" !important; 
     font-style: normal; 
     cursor: pointer; 
     z-index: 2; 
 } 
  
 .banner .leftArrow { 
     left: 234px; 
 } 
  
 .banner .rightArrow { 
     right: 0; 
 } 
  
 .banner .arrow:hover { 
     background-color: rgba(0, 0, 0, .5); 
     color: #fff; 
 } 
  
 /***************************banner end********************************/ 
 /***************************suggest start********************************/ 
 .suggest { 
     width: 1226px; 
     height: 170px; 
     margin: 14px auto 26px; 
 } 
  
 .suggest .app { 
     width: 234px; 
     height: 170px; 
     float: left; 
     font-size: 12px; 
     text-align: center; 
     background-color: #5f5750; 
 } 
  
 .suggest .app li { 
     position: relative; 
     float: left; 
     width: 78px; 
     height: 85px; 
     padding: 18px 3px 0; 
     box-sizing: border-box; 
     color: rgba(255, 255, 255, 0.7); 
     transition: color .2s; 
     border-left: 1px solid #757575; 
     border-bottom: 1px solid #757575; 
     cursor: pointer; 
 } 
  
 .suggest .app li:hover { 
     color: rgba(255, 255, 255, 1); 
 } 
  
 .suggest .app li i { 
     display: block; 
     font-size: 24px; 
     line-height: 24px; 
     height: 24px; 
     margin-bottom: 4px; 
 } 
  
 .suggest .suggestImg { 
     float: left; 
     margin-left: -1px; 
     width: 993px; 
     height: 170px; 
 } 
  
 .suggest .suggestImg li { 
     margin-left: 15px; 
     float: left; 
     width: 316px; 
     height: 170px; 
     transition: box-shadow .2s linear; 
     cursor: pointer; 
 } 
  
 .suggest .suggestImg li img { 
     width: 316px; 
     height: 170px; 
 } 
  
 .suggest .suggestImg li:hover { 
     z-index: 2; 
     box-shadow: rgba(0, 0, 0, 0.1) 0 15px 30px; 
 } 
  
 /***************************suggest end********************************/ 
 /***************************star start********************************/ 
 .star { 
     width: 1226px; 
     height: 438px; 
     margin: 0 auto; 
 } 
  
 .star ul { 
     width: 1226px; 
     height: 340px; 
     margin-bottom: 40px; 
 } 
  
 .star ul li { 
     width: 234px; 
     height: 340px; 
     float: left; 
     background: #fafafa; 
     box-sizing: border-box; 
     padding-top: 39px; 
     margin-right: 14px; 
     text-align: center; 
     transition: all .6s; 
 } 
  
 .star ul li img { 
     width: 160px; 
     margin: 0 auto 22px; 
     cursor: pointer; 
 } 
  
 .star ul li .description h3 { 
     margin: 0 20px 3px; 
     font-size: 14px; 
     font-weight: 400; 
     cursor: pointer; 
 } 
  
 .star ul li .description p { 
     height: 18px; 
     margin: 0 20px 12px; 
     font-size: 12px; 
     color: #b0b0b0; 
 } 
  
 .star ul li .description h4 { 
     color: #ff6709; 
     font-weight: normal; 
 } 
  
 .star ul li:nth-child(1) { 
     border-top: 1px solid #ffac13; 
 } 
  
 .star ul li:nth-child(2) { 
     border-top: 1px solid #83c44e; 
 } 
  
 .star ul li:nth-child(3) { 
     border-top: 1px solid #2196f3; 
 } 
  
 .star ul li:nth-child(4) { 
     border-top: 1px solid #e53935; 
 } 
  
 .star ul li:nth-child(5) { 
     border-top: 1px solid #00c0a5; 
     margin-right: 0; 
 } 
  
 /***************************star 
